{% block footer %}
    <h1 class="ui center aligned icon header inverted disabled">
        <i class="huge circular sticky tasks icon"></i>
        Todo lists
    </h1>
</div>
    <div class="ui basic black inverted segment _footer">
        <div class="ui container">
            <div class="ui icon  black message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                       A propos de Todo lists
                    </div>
                    Made with <i class="ui small heart icon red"></i> with <a href="https://ubiquity.kobject.net">Ubiquity</a><br>
                    Ce site ne fait appel ni à la publicité, ni aux cookies de tracage !
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ js('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}
{{ js('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js') }}
{% endblock %}
</body>
</html>