<h2 class="ui inverted header">
    <i class="ol list icon"></i>
    <div class="content">
        Liste active
        <div class="sub header">Gestion des items</div>
    </div>
</h2>
<div class="ui attached black inverted segment">
    <div class="ui inverted secondary menu">
        <div class="item"><div class="ui black inverted basic label">{{ title }}</div></div>
        <div class="right menu">
            <div class="item">
                <div class="ui inverted toggle checkbox _multiple">
                    <input type="checkbox" id="multiple">
                    <label for="multiple">Saisie multiple</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui attached inverted segment">
    <div class="ui inverted relaxed divided list">
        {% for item in list %}
        <div class="item">
            <form style="display: none;" class="ui inverted left floated form" action="{{path('todos.edit',[loop.index0])}}" method="post">
                <div class="ui inverted mini input">
                    <input type="text" name="element" value="{{item}}">
                </div>
            </form>
            <div class="ui inverted checkbox">
                <input type="checkbox" name="example" id="ck{{loop.index0}}">
                <label class="_element" for="ck{{loop.index0}}" data-index="{{loop.index0}}">{{item}}</label>
            </div>
            <a href="{{path('todos.delete',[loop.index0])}}">
                <span class="ui circular mini icon inverted red button right floated">
                    <i class="ui times icon"></i>
                </span>
            </a>
            <span class="ui circular mini icon inverted button right floated _toEdit">
                <i class="ui edit icon"></i>
            </span>
        </div>
            {% else %}
                <div class="ui icon inverted info message">
                    <i class="sticky note outline icon"></i>
                    <div class="content">
                        <div class="header">
                            Liste vide !
                        </div>
                        <p>Pour ajouter un élément, saisissez le dans la zone ci-dessous puis validez.</p>
                    </div>
                </div>
        {% endfor %}
        <div class="item">
            <form class="ui inline inverted form" action="{{path('todos.add')}}" method="post">
                <div class="two fields _form" style="display: none">
                    <textarea placeholder="Saisir vos éléments sur chaque ligne" name="elements" rows="5">{{item}}</textarea>
                    <button class="ui mini green icon button"><i class="ui check circle outline icon"></i></button>
                </div>
                <div class="field _form">
                    <input placeholder="Nouvel élément" name="element"/>
                </div>
            </form>
        </div>
    </div>
</div>
{{script_foot|raw}}