<div class="ui inverted secondary  menu">
    <a href="{{path('home')}}" class="active item">Home</a>
    <a href="{{path('todos.new')}}" class="item">Nouvelle liste</a>
    <a href="{{path('todos.save')}}" class="item _saveList" style="display: none">Sauvegarder la liste</a>
    <div class="right menu">
        <div class="item">
            <form action="{{path('todos.loadListPost')}}" method="post">
                <div class="ui mini action inverted input">
                    <input type="text" placeholder="List id..." name="id">
                    <button class="ui mini inverted button">Ouvrir</button>
                </div>
            </form>
        </div>
        <div class="item">{{ _userInfo | raw }}</div>
    </div>
</div>